* {
  font-family: sans-serif, Tahoma;
}
.container {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  width: 1100px;
}
header {
  background-color: rgb(37, 37, 37);
  color: rgb(245, 231, 214);
  font-family: sans-serif, Tahoma;
  padding-top: 50px;
  padding-bottom: 50px;
}
.header-grid {
  display: flex;
  flex-wrap: wrap;
}
.user-information {
  margin-left: 100px;
}
.contacts-list {
  padding: 0;
}
.contacts-item {
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
}
.contacts-link {
  text-decoration: none;
  color: rgb(109, 109, 233);
}
.user-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
h1 {
  text-transform: uppercase;
}
/* header*/
.work {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(248, 243, 236);
}
.work-information {
  margin: 0;

  text-transform: uppercase;
  text-align: center;
  color: rgb(20, 22, 20);
}
/* work */
.ABILITYS {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(248, 243, 236);
}
.ABILITYS-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ABILITYS-title {
  margin: 0;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: rgb(20, 22, 20);
}
.knowledge {
  width: 400px;
  font-size: 20px;
}
.examples {
  width: 400px;
  font-size: 20px;
}
.example-link {
  text-decoration: none;
  color: rgb(109, 109, 233);
}
/*ABILITYS*/
.experiense {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(248, 243, 236);
}
.experiense-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.experiense-title {
  margin: 0;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: rgb(20, 22, 20);
}
.knowledge {
  width: 400px;
  font-size: 20px;
}
.examples {
  width: 400px;
  font-size: 20px;
}
.example-link {
  text-decoration: none;
  color: rgb(109, 109, 233);
}
.engineer-pic {
  object-fit: cover;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}
/*experiense*/
.education {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(248, 243, 236);
}
.education-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.education-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
}
.education-step {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}
.education-years {
  width: 20%;
}
.bakalavr {
  width: 65%;
  margin-bottom: 25px;
}
.magistry {
  width: 65%;
  margin-bottom: 25px;
}
/*education */
footer {
  background-color: rgb(37, 37, 37);
  color: rgb(245, 231, 214);
  font-family: sans-serif, Tahoma;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.language-information {
  width: 80%;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .footer-grid {
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .container {
    width: 760px;
  }
  .knowledge {
    margin-bottom: 20px;
  }
}
@media (max-width: 780px) {
  .container {
    width: 560px;
  }
  .header-grid {
    justify-content: center;
  }
  .user-information {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .education-grid {
    justify-content: space-between;
  }
  .bakalavr {
    text-align: right;
  }
  .magistry {
    text-align: right;
  }
}
@media (max-width: 590px) {
  .container {
    width: 95%;
  }
  .engineer-pic {
    display: none;
  }
}
